
.add_label{
    cursor: pointer;
    
}
.add_button_real{
    visibility: hidden;
}
div{
    display: block;
}

.item_view{
    width: 100%;
    margin: 0 auto;
}
.card{
    margin-top: 15px;
    height: 150px;
    width: 150px;
}



.character_area{
    float: left;
    width: 332px;
    height: 463px;   
    position: relative;
}

.chara-parts{
    position: absolute;
}

.character_footer{
    float: left;
    width: 370px;
    position: relative;
}


.clothes__item{
    width: 580px;
    height: 495px;
}


.card{
    width: 150px;
    height: 210px;
}

.button_item{
    background-color: white;
    border-radius: 30px;
    border: 0;
    outline: 0;
}